beautifulsoup4
requests
click
humanize
colorama
requests-mock
google
proxy-db
rich>=12.0.0
aiohttp
prompt_toolkit>=3.0.0
platformdirs>=3.5.1,<4.0.0
futures; python_version < '3.0'
py2-ipaddress; python_version < '3.0'
greenlet>=3.0.0a1; python_version >= '3.12'
